body{

margin:0;
font-family:'Montserrat',sans-serif;

}

/* PANTALLA INICIAL */

#intro{

height:100vh;

background-image:url("fondoflorcitas.jpg");
background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;

}

/* SOBRE */

.envelope{

width:350px;

filter:drop-shadow(0 20px 30px rgba(0,0,0,0.4));

}

/* SELLO CORAZON */

.envelope-container{
position:relative;
}

.seal{

position:absolute;

top:50%;
left:50%;

transform:translate(-50%,-50%);

cursor:pointer;

animation:latido 1.2s infinite;

display:flex;
justify-content:center;
align-items:center;

}

.seal-img{

width:200px;
height:auto;

}

/* animacion latido */

@keyframes latido{

0%{transform:translate(-50%,-50%) scale(1)}
50%{transform:translate(-50%,-50%) scale(1.2)}
100%{transform:translate(-50%,-50%) scale(1)}

}


/* HOJA */

#hoja1{

height:100vh;

background:#f2eadf;

display:flex;
justify-content:center;
align-items:center;

text-align:center;

}

/* tarjeta */

.paper{

background:#f5efe6;

padding:60px;

border-radius:8px;

box-shadow:0 15px 40px rgba(0,0,0,0.25);

}

/* nombres */

h1{

font-family:'Great Vibes',cursive;

font-size:46px;

color:#2c5c5c;

}

/* subtitulo */

h2{

font-family:'Playfair Display',serif;

font-weight:400;

}

/* fecha */

.fecha{

font-size:22px;

margin-top:20px;

}

/* oculto */

.hidden{

display:none;

}

/* pantalla completa tipo historia */

.pantalla1{

height:100vh;
width:100%;

position:relative;
overflow:hidden;

}

/* imagen full */

.imagen-full{

width:100%;
height:100%;
object-fit:cover;

}

/* flecha */

.flecha{

position:absolute;

bottom:20px;
left:50%;

transform:translateX(-50%);

font-size:28px;

color:white;

animation:subir 2s infinite;

opacity:0.8;

}

/* animacion flecha */

@keyframes subir{

0%{transform:translate(-50%,0)}
50%{transform:translate(-50%,-10px)}
100%{transform:translate(-50%,0)}

}


/* siguiente hoja */

#hoja2{

height:100vh;

background:#f2eadf;

display:flex;
justify-content:center;
align-items:center;

}






















