body{
margin:0;
font-family:'Montserrat',sans-serif;
overflow:hidden;
}

.app{
max-width:420px;
margin:auto;
background:white;
min-height:100vh;
position:relative;
overflow:hidden;
}

.hidden{
display:none;
}

html{
scroll-behavior:smooth;
}

/* INTRO */

#intro{
height:100vh;
background-image:url("fondoflorcitas.jpg");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
transition:0.4s;
}

#intro.ocultar{
opacity:0;
transform:scale(.9);
}

.envelope-container{
position:relative;
}

.envelope{
width:320px;
}

.seal{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
cursor:pointer;
animation:latido 1.2s infinite;
}

.seal-img{
width:200px;
}

@keyframes latido{
0%{transform:translate(-50%,-50%) scale(1)}
50%{transform:translate(-50%,-50%) scale(1.15)}
100%{transform:translate(-50%,-50%) scale(1)}
}

/* HOJAS */

#hoja1,#hoja2,#hoja3,#hoja4{
height:100vh;
position:relative;
}

.imagen-full,.fondo-contador{
width:100%;
height:100%;
object-fit:cover;
}

#hoja1{
opacity:0;
transform:translateY(30px);
transition:.4s;
}

#hoja1.mostrar{
opacity:1;
transform:translateY(0);
}

/* FLECHAS */

.flecha{
position:absolute;
bottom:8vh;
left:50%;
transform:translateX(-50%);
font-size:55px;
color:white;
cursor:pointer;
animation:subir 1.2s infinite;
text-shadow:0 4px 10px rgba(0,0,0,.4);
}

@keyframes subir{
50%{transform:translate(-50%,-10px);}
}

/* CONTADOR */

.contador-section{
position:relative;
height:100%;
}

.contenido-contador{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
}

.titulo-contador{
font-family:'Playfair Display',serif;
font-size:55px;
color:#a1866f;
}

.contador{
display:flex;
gap:20px;
}

.bloque span{
font-size:50px;
font-weight:bold;
color:#2c5c5c;
}

.bloque p{
font-size:24px;
color:#a1866f;
}

/* BOTONES */

.btn-maps{
position:absolute;
bottom:25%;
left:50%;
transform:translateX(-50%);
background:#2c5c5c;
color:white;
padding:14px 28px;
border-radius:30px;
text-decoration:none;
}

/* FLECHA LATERAL */

.flecha-lateral{
position:absolute;
right:20px;
top:50%;
transform:translateY(-50%);
font-size:80px;
font-weight:bold;
color:#2c5c5c;
cursor:pointer;
z-index:30;
text-shadow:0 4px 10px rgba(255,255,255,.7);
animation:lateral 1.3s infinite;
}

@keyframes lateral{
50%{transform:translateY(-50%) translateX(12px);}
}

/* HOJA 4 SLIDE */

#hoja4{
position:fixed;
top:0;
left:100%;
width:100%;
transition:.6s ease;
z-index:100;
}

#hoja4.mostrar4{
left:0;
}
